@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* desktop */
.container {
  max-width: 950px;
  margin: 50px auto;
}

body {
  font-family: "Montserrat", serif;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
}

.card img {
  margin-bottom: 30px;
}

.card h3 {
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
  margin-bottom: 10px;
}

.card p {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
}

/* phone */

.phone {
  min-width: 414px;
}

.contphone {
  margin: 300px auto;
  max-width: 210px;
}

.cardph {
  text-align: center;
  margin-bottom: 105px;
}

.phone img {
  margin-bottom: 30px;
}

.phone h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
}

.phone p {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
}
